html {
	height: 100%;
	background-size: 450px;
	image-rendering: pixelated;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
	max-width: 900px;
	margin: auto;
    background-color: white;
    font-family: monospace;
    font-size: 1.4em;
	padding: 0.5em 1em;
    border-radius: 0 0 7px 7px;
}

table, th, td {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
}

td {
    padding: 10px;
}


