:root[theme="light"] {
	--bg: #f5faff;
	--text: black;
	--legeng-bg: #709AD3;
	--fieldset-bg: white;
}

:root[theme="dark"] {
	--bg: #2d2d2d;
	--text: white;
	--legeng-bg: #00000000;
	--fieldset-bg: #3f3f3f;
}

body {
	font-family: monospace;
	font-size: 1.1em;
	margin: 0;
	padding: 10px;
	width: 200px;
	background-color: var(--bg);
	color: var(--text);
}

#popup-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

legend {
	background-color: var(--legeng-bg);
	color: #FFF203;
	font-weight: bold;
}

label {
	margin: 5px 0;
	cursor: pointer;
}

input[type="radio"] {
	margin-right: 5px;
}

#settings {
	color: var(--text);
	margin: 0.3em 0 0 0.6em;
	display: block;
	/* text-align: center; */
}

#settings:link {
	text-decoration: none;
}

#settings:hover {
	text-decoration: underline;
}